@font-face {
  font-family: fa-font;
  src: url(../fonts/IRANSansDN.ttf);
  src: url(../fonts/IRANSansDN.woff);
  src: url(../fonts/iransansdn.woff2);
}
@media (min-width: 1400px) {
  .container {
    min-width: 1720px !important;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 17px;
  color: #fff;
  font-family: fa-font;
  background-color: rgb(24, 33, 24);
}

.main1 {
  height: 300vh;
  background-image: url(../img/mine-img.png);
  background-position: top;
  background-size: cover;
}
.main1 > .container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.main1 > .container > .for-header {
  width: 100%;
  height: 100px;
}
.main1 > .container > .for-header > header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main1 > .container > .for-header > header .header-main {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main1 > .container > .for-header > header .header-main .icon-plant {
  display: flex;
  align-items: center;
  width: 4.688rem;
  height: 4.688rem;
}
.main1 > .container > .for-header > header .header-main .icon-plant .img-icon-plant {
  width: 100%;
  height: 100%;
}
.main1 > .container > .for-header > header .header-main .icon-plant > .Description-for-img-icon-plant {
  font-size: 30px;
}
.main1 > .container > .for-header > header .header-main > .menu-for-header-main > .nav > .nav-item > .nav-link {
  color: #fff;
}
.main1 > .container > .for-header > header .header-main > .shortcuts-for-header {
  width: 8rem;
  height: 5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.main1 > .container > .for-header > header .header-main > .shortcuts-for-header > img {
  transition: 300ms;
  font-size: 25px;
}
.main1 > .container > .for-header > header .header-main > .shortcuts-for-header > img:hover {
  transform: scale(1.7);
}
.main1 > .container > .title-main {
  display: flex;
  flex-direction: column;
  width: 65%;
  gap: 15px;
  margin-top: 10%;
}
.main1 > .container > .title-main > .parent-titles {
  display: flex;
  flex-wrap: wrap;
}
.main1 > .container > .title-main > .parent-titles > .heading-primary-main {
  font-size: 244px;
  white-space: nowrap;
}
.main1 > .container > .title-main > .parent-titles > .heading-primary-sub {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 28px;
  text-align: justify;
}
.main1 > .container > .title-main > .parent-titles > .heading-primary-sub > .btn-explore {
  width: 13%;
  background: none;
  color: #fff;
  padding: 10px;
  border: 2px solid #fff;
  font-family: fa-font;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  transition: 500ms;
}
.main1 > .container > .title-main > .parent-titles > .heading-primary-sub > .btn-explore:hover {
  transform: scale(1.1);
}
.main1 > .container > .title-main > .parent-titles > .heading-primary-sub > .Icon-phrase-live-demo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main1 > .container > .title-main > .parent-titles > .heading-primary-sub > .Icon-phrase-live-demo > img {
  transition: 500ms;
  cursor: pointer;
}
.main1 > .container > .title-main > .parent-titles > .heading-primary-sub > .Icon-phrase-live-demo > img:hover {
  transform: scale(1.1);
}
.main1 > .container > .title-main > .parent-titles > .heading-primary-sub > .Icon-phrase-live-demo > span {
  white-space: nowrap;
}
.main1 > .container > .parent-box-for-Trendy-House-Plant {
  display: flex;
  justify-content: end;
  height: 550px;
  width: 100%;
  transform: translateY(-20rem);
}
.main1 > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant {
  width: 28%;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgba(229, 234, 231, 0.0431372549);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}
.main1 > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant > .swiper-for-Trendy-House-Plant {
  width: 110%;
  height: 50%;
}
.main1 > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant > .swiper-for-Trendy-House-Plant swiper-container {
  width: 100%;
  height: 130%;
  transform: translateY(-8rem);
}
.main1 > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant > .swiper-for-Trendy-House-Plant swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main1 > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant > .swiper-for-Trendy-House-Plant swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 2.5rem;
  text-align: center;
}
.main1 > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant > .Description-for-swiper-for-that-Trendy-House-Plant {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 73%;
  padding: 15px;
  justify-content: center;
  margin-bottom: 5rem;
  text-align: center;
  align-items: center;
}
.main1 > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant > .Description-for-swiper-for-that-Trendy-House-Plant > .Description-first-The-first-vase {
  font-size: 29px;
}
.main1 > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant > .Description-for-swiper-for-that-Trendy-House-Plant > .Description-2-The-first-vase {
  font-size: 57px;
}
.main1 > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant > .Description-for-swiper-for-that-Trendy-House-Plant > .buy-now-1 {
  width: 47%;
  background: none;
  border: 2px solid #fff;
  font-family: fa-font;
  color: #fff;
  height: 3rem;
  border-radius: 20px;
  transition: 500ms;
  cursor: pointer;
}
.main1 > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant > .Description-for-swiper-for-that-Trendy-House-Plant > .buy-now-1:hover {
  transform: scale(1.4);
}
.main1 > .container > .comment-customer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.main1 > .container > .comment-customer > .box-comment-customer {
  width: 25%;
  height: 300px;
  display: flex;
  flex-direction: column;
  background: rgba(229, 234, 231, 0.0431372549);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  padding: 25px;
  gap: 2rem;
  align-items: end;
  transform: translateY(-21rem);
}
.main1 > .container > .Our-Trendy-plants {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main1 > .container > .Our-Trendy-plants > .desciption-Our-Trendy-plants {
  font-size: 60px;
  border-bottom: 2px solid #f2e8c6;
  transform: translateY(-25rem);
}
.main1 > .container > .For-Small-Decs-Ai-Plat {
  width: 100%;
  height: 550px;
  transform: translateY(-21rem);
}
.main1 > .container > .For-Small-Decs-Ai-Plat > .box-For-Small-Decs-Ai-Plat {
  width: 100%;
  height: 100%;
  background: rgba(229, 234, 231, 0.0431372549);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  display: flex;
}
.main1 > .container > .For-Small-Decs-Ai-Plat > .box-For-Small-Decs-Ai-Plat > .img-For-Small-Decs-Ai-Plat {
  width: 41%;
  height: 138%;
  display: flex;
}
.main1 > .container > .For-Small-Decs-Ai-Plat > .box-For-Small-Decs-Ai-Plat > .img-For-Small-Decs-Ai-Plat > .child-img-For-Small-Decs-Ai-Plat {
  transform: translateY(-11rem);
}
.main1 > .container > .For-Small-Decs-Ai-Plat > .box-For-Small-Decs-Ai-Plat > .description-For-Small-Decs-Ai-Plat {
  width: 56%;
  height: 100%;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.main1 > .container > .For-Small-Decs-Ai-Plat > .box-For-Small-Decs-Ai-Plat > .description-For-Small-Decs-Ai-Plat > .description-For-Small-Decs-Ai-Plat-solid-first {
  font-size: 36px;
  white-space: nowrap;
  width: inherit;
  margin-right: 10%;
}
.main1 > .container > .For-Small-Decs-Ai-Plat > .box-For-Small-Decs-Ai-Plat > .description-For-Small-Decs-Ai-Plat > .description-For-Small-Decs-Ai-Plat-solid-Second {
  font-size: 21px;
}
.main1 > .container > .For-Small-Decs-Ai-Plat > .box-For-Small-Decs-Ai-Plat > .description-For-Small-Decs-Ai-Plat > .btn-buy-For-Small-Decs-Ai-Plat {
  width: 50px;
  height: 50px;
}
.main1 > .container > .For-Small-Decs-Ai-Plat > .box-For-Small-Decs-Ai-Plat > .description-For-Small-Decs-Ai-Plat > .parenr-explore-1-and-btn-buy-For-Small-Decs-Ai-Plat > .explore-1 {
  width: 27%;
  background: none;
  color: #fff;
  font-family: fa-font;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: 350ms;
  margin-right: 10%;
}
.main1 > .container > .For-Small-Decs-Ai-Plat > .box-For-Small-Decs-Ai-Plat > .description-For-Small-Decs-Ai-Plat > .parenr-explore-1-and-btn-buy-For-Small-Decs-Ai-Plat > .explore-1:hover {
  transform: scale(1.3);
}
.main1 > .container > .For-Small-Decs-Ai-Plat > .box-For-Small-Decs-Ai-Plat > .description-For-Small-Decs-Ai-Plat > .parenr-explore-1-and-btn-buy-For-Small-Decs-Ai-Plat > .btn-buy-For-Small-Decs-Ai-Plat {
  background: none;
  border: solid 2px #fff;
  border-radius: 10px;
  padding: 5px;
  transition: 350ms;
}
.main1 > .container > .For-Small-Decs-Ai-Plat > .box-For-Small-Decs-Ai-Plat > .description-For-Small-Decs-Ai-Plat > .parenr-explore-1-and-btn-buy-For-Small-Decs-Ai-Plat > .btn-buy-For-Small-Decs-Ai-Plat:hover {
  transform: scale(1.3);
}
.main1 > .container > .For-Small-Decs-Ai-Plat > .box-For-Small-Decs-Ai-Plat > .description-For-Small-Decs-Ai-Plat > .The-price-of-the-first-item {
  font-size: 40px;
}
.main1 > .container > .For-Small-Decs-Ai-Plat1 {
  transform: translateY(-21rem);
  width: 100%;
  margin-top: 5%;
  height: 550px;
}
.main1 > .container > .For-Small-Decs-Ai-Plat1 > .box-For-Small-Decs-Ai-Plat1 {
  width: 100%;
  height: 100%;
  background: rgba(229, 234, 231, 0.0431372549);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  display: flex;
}
.main1 > .container > .For-Small-Decs-Ai-Plat1 > .box-For-Small-Decs-Ai-Plat1 > .img-For-Small-Decs-Ai-Plat1 {
  width: 41%;
  height: 138%;
  display: flex;
}
.main1 > .container > .For-Small-Decs-Ai-Plat1 > .box-For-Small-Decs-Ai-Plat1 > .img-For-Small-Decs-Ai-Plat1 > .child-img-For-Small-Decs-Ai-Plat1 {
  transform: translateY(-11rem);
}
.main1 > .container > .For-Small-Decs-Ai-Plat1 > .box-For-Small-Decs-Ai-Plat1 > .description-For-Small-Decs-Ai-Plat1 {
  width: 56%;
  height: 100%;
  justify-content: center;
  gap: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.main1 > .container > .For-Small-Decs-Ai-Plat1 > .box-For-Small-Decs-Ai-Plat1 > .description-For-Small-Decs-Ai-Plat1 > .description-For-Small-Decs-Ai-Plat-solid-first1 {
  font-size: 36px;
  white-space: nowrap;
  width: inherit;
  margin-right: 10%;
}
.main1 > .container > .For-Small-Decs-Ai-Plat1 > .box-For-Small-Decs-Ai-Plat1 > .description-For-Small-Decs-Ai-Plat1 > .description-For-Small-Decs-Ai-Plat-solid-Second1 {
  font-size: 21px;
}
.main1 > .container > .For-Small-Decs-Ai-Plat1 > .box-For-Small-Decs-Ai-Plat1 > .description-For-Small-Decs-Ai-Plat1 > .btn-buy-For-Small-Decs-Ai-Plat1 {
  width: 50px;
  height: 50px;
}
.main1 > .container > .For-Small-Decs-Ai-Plat1 > .box-For-Small-Decs-Ai-Plat1 > .description-For-Small-Decs-Ai-Plat1 > .parenr-explore-1-and-btn-buy-For-Small-Decs-Ai-Plat1 > .explore-2 {
  width: 27%;
  background: none;
  color: #fff;
  font-family: fa-font;
  border: 2px solid #fff;
  border-radius: 10px;
  transition: 350ms;
  margin-right: 10%;
}
.main1 > .container > .For-Small-Decs-Ai-Plat1 > .box-For-Small-Decs-Ai-Plat1 > .description-For-Small-Decs-Ai-Plat1 > .parenr-explore-1-and-btn-buy-For-Small-Decs-Ai-Plat1 > .explore-2:hover {
  transform: scale(1.3);
}
.main1 > .container > .For-Small-Decs-Ai-Plat1 > .box-For-Small-Decs-Ai-Plat1 > .description-For-Small-Decs-Ai-Plat1 > .parenr-explore-1-and-btn-buy-For-Small-Decs-Ai-Plat1 > .btn-buy-For-Small-Decs-Ai-Plat1 {
  background: none;
  border: solid 2px #fff;
  border-radius: 10px;
  padding: 5px;
  transition: 350ms;
}
.main1 > .container > .For-Small-Decs-Ai-Plat1 > .box-For-Small-Decs-Ai-Plat1 > .description-For-Small-Decs-Ai-Plat1 > .parenr-explore-1-and-btn-buy-For-Small-Decs-Ai-Plat1 > .btn-buy-For-Small-Decs-Ai-Plat1:hover {
  transform: scale(1.3);
}
.main1 > .container > .For-Small-Decs-Ai-Plat1 > .box-For-Small-Decs-Ai-Plat1 > .description-For-Small-Decs-Ai-Plat1 > .The-price-of-the-first-item1 {
  font-size: 40px;
}

.main2 > .big-menu {
  padding-top: 10rem;
  width: 100%;
  height: 100rem;
  display: flex;
}
.main2 > .big-menu > .sale-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box1-for-sale-menu {
  align-items: start;
  width: 25%;
  height: 37.5rem;
  background: rgba(229, 234, 231, 0.0431372549);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box1-for-sale-menu > .image1-for-box1-for-sale-menu {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box1-for-sale-menu > .image1-for-box1-for-sale-menu > img {
  width: 80%;
  height: 70%;
  transform: translateY(-8rem);
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box1-for-sale-menu > .description-for-image1-for-box1-for-sale-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  justify-content: center;
  transform: translateX(-3rem);
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box1-for-sale-menu > .description-for-image1-for-box1-for-sale-menu > .name-plant-for-box1 {
  font-size: 3rem;
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box1-for-sale-menu > .description-for-image1-for-box1-for-sale-menu > .parent-button-for-box1 {
  display: flex;
  justify-content: space-between;
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box1-for-sale-menu > .description-for-image1-for-box1-for-sale-menu > .parent-button-for-box1 > .button-for-box1 {
  width: 50px;
  height: 50px;
  background: none;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 8px;
  transition: 350ms;
  transform: translateY(-1rem);
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box1-for-sale-menu > .description-for-image1-for-box1-for-sale-menu > .parent-button-for-box1 > .button-for-box1:hover {
  transform: scale(1.3);
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box1-for-sale-menu > .description-for-image1-for-box1-for-sale-menu > .parent-button-for-box1 > .button-for-box1 > img {
  width: 100%;
  height: 100%;
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box2-for-sale-menu {
  width: 25%;
  height: 37.5rem;
  background: rgba(229, 234, 231, 0.0431372549);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box2-for-sale-menu > .image2-for-box1-for-sale-menu {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box2-for-sale-menu > .image2-for-box1-for-sale-menu > img {
  width: 80%;
  height: 70%;
  transform: translateY(-8rem);
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box2-for-sale-menu > .description-for-image2-for-box1-for-sale-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  justify-content: center;
  transform: translateX(-3rem);
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box2-for-sale-menu > .description-for-image2-for-box1-for-sale-menu > .name-plant-for-box2 {
  font-size: 3rem;
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box2-for-sale-menu > .description-for-image2-for-box1-for-sale-menu > .parent-button-for-box2 {
  display: flex;
  justify-content: space-between;
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box2-for-sale-menu > .description-for-image2-for-box1-for-sale-menu > .parent-button-for-box2 > .button-for-box2 {
  width: 50px;
  height: 50px;
  background: none;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 8px;
  transition: 350ms;
  transform: translateY(-1rem);
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box2-for-sale-menu > .description-for-image2-for-box1-for-sale-menu > .parent-button-for-box2 > .button-for-box2:hover {
  transform: scale(1.3);
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box2-for-sale-menu > .description-for-image2-for-box1-for-sale-menu > .parent-button-for-box2 > .button-for-box2 > img {
  width: 100%;
  height: 100%;
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box3-for-sale-menu {
  width: 25%;
  height: 37.5rem;
  background: rgba(229, 234, 231, 0.0431372549);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box3-for-sale-menu > .image3-for-box1-for-sale-menu {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box3-for-sale-menu > .image3-for-box1-for-sale-menu > img {
  width: 80%;
  height: 70%;
  transform: translateY(-10rem);
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box3-for-sale-menu > .description-for-image3-for-box1-for-sale-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  justify-content: center;
  transform: translateX(-3rem);
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box3-for-sale-menu > .description-for-image3-for-box1-for-sale-menu > .name-plant-for-box3 {
  font-size: 3rem;
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box3-for-sale-menu > .description-for-image3-for-box1-for-sale-menu > .parent-button-for-box3 {
  display: flex;
  justify-content: space-between;
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box3-for-sale-menu > .description-for-image3-for-box1-for-sale-menu > .parent-button-for-box3 > .button-for-box3 {
  width: 50px;
  height: 50px;
  background: none;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 8px;
  transition: 350ms;
  transform: translateY(-1rem);
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box3-for-sale-menu > .description-for-image3-for-box1-for-sale-menu > .parent-button-for-box3 > .button-for-box3:hover {
  transform: scale(1.3);
}
.main2 > .big-menu > .sale-menu > .row-frist-of-menu > .box3-for-sale-menu > .description-for-image3-for-box1-for-sale-menu > .parent-button-for-box3 > .button-for-box3 > img {
  width: 100%;
  height: 100%;
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box4-for-sale-menu {
  width: 25%;
  height: 37.5rem;
  background: rgba(229, 234, 231, 0.0431372549);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box4-for-sale-menu > .image4-for-Row-Second-of-menu {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box4-for-sale-menu > .image4-for-Row-Second-of-menu > img {
  width: 80%;
  height: 70%;
  transform: translateY(-8rem);
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box4-for-sale-menu > .description-for-image4-for-box1-for-sale-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  justify-content: center;
  transform: translateX(-3rem);
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box4-for-sale-menu > .description-for-image4-for-box1-for-sale-menu > .name-plant-for-box4 {
  font-size: 3rem;
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box4-for-sale-menu > .description-for-image4-for-box1-for-sale-menu > .parent-button-for-box4 {
  display: flex;
  justify-content: space-between;
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box4-for-sale-menu > .description-for-image4-for-box1-for-sale-menu > .parent-button-for-box4 > .button-for-box4 {
  width: 50px;
  height: 50px;
  background: none;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 8px;
  transition: 350ms;
  transform: translateY(-1rem);
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box4-for-sale-menu > .description-for-image4-for-box1-for-sale-menu > .parent-button-for-box4 > .button-for-box4:hover {
  transform: scale(1.3);
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box4-for-sale-menu > .description-for-image4-for-box1-for-sale-menu > .parent-button-for-box4 > .button-for-box4 > img {
  width: 100%;
  height: 100%;
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box5-for-sale-menu {
  width: 25%;
  height: 37.5rem;
  background: rgba(229, 234, 231, 0.0431372549);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box5-for-sale-menu > .image5-for-Row-Second-of-menu {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box5-for-sale-menu > .image5-for-Row-Second-of-menu > img {
  width: 80%;
  height: 70%;
  transform: translateY(-8rem);
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box5-for-sale-menu > .description-for-image5-for-box1-for-sale-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  justify-content: center;
  transform: translateX(-3rem);
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box5-for-sale-menu > .description-for-image5-for-box1-for-sale-menu > .name-plant-for-box5 {
  font-size: 3rem;
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box5-for-sale-menu > .description-for-image5-for-box1-for-sale-menu > .parent-button-for-box5 {
  display: flex;
  justify-content: space-between;
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box5-for-sale-menu > .description-for-image5-for-box1-for-sale-menu > .parent-button-for-box5 > .button-for-box5 {
  width: 50px;
  height: 50px;
  background: none;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 8px;
  transition: 350ms;
  transform: translateY(-1rem);
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box5-for-sale-menu > .description-for-image5-for-box1-for-sale-menu > .parent-button-for-box5 > .button-for-box5:hover {
  transform: scale(1.3);
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box5-for-sale-menu > .description-for-image5-for-box1-for-sale-menu > .parent-button-for-box5 > .button-for-box5 > img {
  width: 100%;
  height: 100%;
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box6-for-sale-menu {
  width: 25%;
  height: 37.5rem;
  background: rgba(229, 234, 231, 0.0431372549);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box6-for-sale-menu > .image6-for-Row-Second-of-menu {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box6-for-sale-menu > .image6-for-Row-Second-of-menu > img {
  width: 80%;
  height: 70%;
  transform: translateY(-8rem);
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box6-for-sale-menu > .description-for-image6-for-box1-for-sale-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  justify-content: center;
  transform: translateX(-3rem);
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box6-for-sale-menu > .description-for-image6-for-box1-for-sale-menu > .name-plant-for-box6 {
  font-size: 3rem;
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box6-for-sale-menu > .description-for-image6-for-box1-for-sale-menu > .parent-button-for-box6 {
  display: flex;
  justify-content: space-between;
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box6-for-sale-menu > .description-for-image6-for-box1-for-sale-menu > .parent-button-for-box6 > .button-for-box6 {
  width: 50px;
  height: 50px;
  background: none;
  border: 2px solid #fff;
  border-radius: 15px;
  padding: 8px;
  transition: 350ms;
  transform: translateY(-1rem);
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box6-for-sale-menu > .description-for-image6-for-box1-for-sale-menu > .parent-button-for-box6 > .button-for-box6:hover {
  transform: scale(1.3);
}
.main2 > .big-menu > .sale-menu > .Row-Second-of-menu > .box6-for-sale-menu > .description-for-image6-for-box1-for-sale-menu > .parent-button-for-box6 > .button-for-box6 > img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=mine.css.map */