@font-face {
  font-family: fa-font;
  src: url(../fonts/IRANSansDN.ttf);
  src: url(../fonts/IRANSansDN.woff);
  src: url(../fonts/iransansdn.woff2);
}
@media (min-width: 1400px) {
  .container {
    min-width: 1650px !important;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 17px;
  color: #fff;
  font-family: fa-font;
}

.main {
  height: 300vh;
  background-image: url(../img/mine-img.png);
  background-position: top;
  background-size: cover;
}
.main > .container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.main > .container > .for-header {
  width: 100%;
  height: 100px;
}
.main > .container > .for-header > header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main > .container > .for-header > header .header-main {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main > .container > .for-header > header .header-main .icon-plant {
  display: flex;
  align-items: center;
  width: 4.688rem;
  height: 4.688rem;
}
.main > .container > .for-header > header .header-main .icon-plant .img-icon-plant {
  width: 100%;
  height: 100%;
}
.main > .container > .for-header > header .header-main .icon-plant > .Description-for-img-icon-plant {
  font-size: 30px;
}
.main > .container > .for-header > header .header-main > .menu-for-header-main {
  display: flex;
  margin-top: 1.625rem;
}
.main > .container > .for-header > header .header-main > .menu-for-header-main > .children-menu-for-header-main {
  display: flex;
  gap: 5.625rem;
}
.main > .container > .for-header > header .header-main > .menu-for-header-main > .children-menu-for-header-main > a {
  text-decoration: none;
  color: #fff;
  transition: 300ms;
}
.main > .container > .for-header > header .header-main > .menu-for-header-main > .children-menu-for-header-main > a:hover {
  transform: scale(1.7);
}
.main > .container > .for-header > header .header-main > .menu-for-header-main > .children-menu-for-header-main > a > span {
  font-size: 30px;
}
.main > .container > .for-header > header .header-main > .shortcuts-for-header {
  width: 8rem;
  height: 5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.main > .container > .for-header > header .header-main > .shortcuts-for-header > img {
  transition: 300ms;
  font-size: 25px;
}
.main > .container > .for-header > header .header-main > .shortcuts-for-header > img:hover {
  transform: scale(1.7);
}
.main > .container > .title-main {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 35px;
  gap: 20px;
}
.main > .container > .title-main > .parent-titles {
  display: flex;
  flex-wrap: wrap;
}
.main > .container > .title-main > .parent-titles > .heading-primary-main {
  font-size: 169px;
  white-space: nowrap;
}
.main > .container > .title-main > .parent-titles > .heading-primary-sub {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 28px;
  text-align: justify;
}
.main > .container > .title-main > .parent-titles > .heading-primary-sub > .btn-explore {
  width: 13%;
  background: none;
  color: #fff;
  padding: 10px;
  border: 2px solid #fff;
  font-family: fa-font;
  border-radius: 15px;
  font-size: 18px;
  cursor: pointer;
  transition: 500ms;
}
.main > .container > .title-main > .parent-titles > .heading-primary-sub > .btn-explore:hover {
  transform: scale(1.1);
}
.main > .container > .title-main > .parent-titles > .heading-primary-sub > .Icon-phrase-live-demo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main > .container > .title-main > .parent-titles > .heading-primary-sub > .Icon-phrase-live-demo > img {
  transition: 500ms;
  cursor: pointer;
}
.main > .container > .title-main > .parent-titles > .heading-primary-sub > .Icon-phrase-live-demo > img:hover {
  transform: scale(1.1);
}
.main > .container > .title-main > .parent-titles > .heading-primary-sub > .Icon-phrase-live-demo > span {
  white-space: nowrap;
}
.main > .container > .parent-box-for-Trendy-House-Plant {
  display: flex;
  justify-content: end;
  height: 550px;
}
.main > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant {
  width: 28%;
  height: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgba(229, 234, 231, 0.0431372549);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}
.main > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant > .swiper-for-Trendy-House-Plant {
  width: 110%;
  height: 50%;
}
.main > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant > .swiper-for-Trendy-House-Plant swiper-container {
  width: 100%;
  height: 130%;
  transform: translateY(-8rem);
}
.main > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant > .swiper-for-Trendy-House-Plant swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant > .swiper-for-Trendy-House-Plant swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 2.5rem;
  text-align: center;
}
.main > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant > .Description-for-swiper-for-that-Trendy-House-Plant {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 73%;
  padding: 15px;
  justify-content: center;
  margin-bottom: 5rem;
}
.main > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant > .Description-for-swiper-for-that-Trendy-House-Plant > .Description-first-The-first-vase {
  font-size: 29px;
}
.main > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant > .Description-for-swiper-for-that-Trendy-House-Plant > .Description-2-The-first-vase {
  font-size: 57px;
}
.main > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant > .Description-for-swiper-for-that-Trendy-House-Plant > .buy-now-1 {
  width: 47%;
  background: none;
  border: 2px solid #fff;
  font-family: fa-font;
  color: #fff;
  height: 3rem;
  border-radius: 20px;
  transition: 500ms;
  cursor: pointer;
}
.main > .container > .parent-box-for-Trendy-House-Plant > .box-for-Trendy-House-Plant > .Description-for-swiper-for-that-Trendy-House-Plant > .buy-now-1:hover {
  transform: scale(1.4);
}
.main > .container > .comment-customer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.main > .container > .comment-customer > .box-comment-customer {
  width: 18%;
  background: rgba(229, 234, 231, 0.0431372549);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  padding: 25px;
  margin-right: 2%;
}
.main > .container > .Our-Trendy-plants {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main > .container > .Our-Trendy-plants > .desciption-Our-Trendy-plants {
  font-size: 35px;
  border-bottom: 2px solid #F2E8C6;
}/*# sourceMappingURL=mine.css.map */