@font-face {
  font-family: fa-font;
  src: url(../fonts/IRANSansDN.ttf);
  src: url(../fonts/IRANSansDN.woff);
  src: url(../fonts/iransansdn.woff2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 17px;
  color: #fff;
  font-family: fa-font;
}

.main {
  height: 300vh;
  background-image: url(../img/mine-img.png);
  background-position: top;
  background-size: cover;
  padding: 35px;
  > .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    > .for-header {
      width: 100%;
      height: 100px;
      > header {
        width: 95%;
        display: flex;
        justify-content: space-between;
        position: fixed;
        // padding: 30px;
        .header-main {
          width: 100%;
          display: flex;
          justify-content: space-between;
          .icon-plant {
            display: flex;
            align-items: center;
            width: 4.688rem;
            height: 4.688rem;
            // padding-left: 0.625rem;
            // padding-top: 0.625rem;
            .img-icon-plant {
              width: 100%;
              height: 100%;
            }
            > .Description-for-img-icon-plant {
              font-size: 30px;
            }
          }
          > .menu-for-header-main {
            display: flex;
            margin-top: 1.625rem;
            > .children-menu-for-header-main {
              display: flex;
              gap: 5.625rem;
              > a {
                text-decoration: none;
                color: #fff;
                transition: 300ms;
                &:hover {
                  transform: scale(1.7);
                }
                > span {
                  font-size: 30px;
                }
              }
            }
          }
          > .shortcuts-for-header {
            width: 8rem;
            height: 5rem;
            display: flex;
            align-items: center;
            gap: 1.5rem;
            > img {
              transition: 300ms;
              font-size: 25px;
              &:hover {
                transform: scale(1.7);
              }
            }
          }
        }
      }
    }
    > .title-main {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 35px;
      gap: 20px;
      > .parent-titles {
        display: flex;
        flex-wrap: wrap;
        > .heading-primary-main {
          font-size: 169px;
        }
        > .heading-primary-sub {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          > .btn-explore {
            width: 13%;
            background: none;
            color: #fff;
            padding: 10px;
            border: 2px solid #fff;
            font-family: fa-font;
            border-radius: 15px;
            font-size: 18px;
            cursor: pointer;
            transition: 500ms;
            &:hover {
              transform: scale(1.1);
            }
          }
          > .Icon-phrase-live-demo {
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            gap: 1rem;
            > img {
              transition: 500ms;
              cursor: pointer;
              &:hover {
                transform: scale(1.1);
              }
            }
            > span {
              white-space: nowrap;
            }
          }
        }
      }
    }
    > .parent-box-for-Trendy-House-Plant {
      display: flex;
      justify-content: end;
      height: 200px;
      > .box-for-Trendy-House-Plant {
        width: 28%;
        height: 600px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background: #e5eae70b;
        backdrop-filter: blur(10px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        > .swiper-for-Trendy-House-Plant {
          width: 110%;
          height: 50%;
          swiper-container {
            width: 100%;
            height: 130%;
            transform: translateY(-8rem);
          }

          swiper-slide {
            text-align: center;
            font-size: 18px;
            //background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
            margin-bottom: 1rem;
          }
        }
        > .Description-for-swiper-for-that-Trendy-House-Plant {
          display: flex;
          flex-direction: column;
          width: 73%;
          padding: 15px;
          justify-content: center;
          margin-bottom: 5rem;
          >.Description-first-The-first-vase{
            font-size: 29px;
          }
          >.Description-2-The-first-vase{
            font-size: 57px;
          }
          >.buy-now-1{
            width: 47%;
            background: none;
            border: 2px solid #fff;
            font-family: fa-font;
            color: #fff;
            height: 3rem;
            border-radius: 20px;
            transition: 500ms;
            cursor: pointer;
            &:hover{
              transform: scale(1.4);
            }
          }
        }
      }
    }
  }
}
